/*@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);*/
body {
    direction: rtl;
    font-family: 'Droid Arabic Kufi', tahoma;
    background: #E4E4E4;
    overflow-x: hidden;
}
