@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    direction: ltr;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    overflow-x: hidden;
}
.trans{
    -webkit-transition: all s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#fullcontainer{
  
}
#topbar{
	background: #efefef;
	padding: 0.5em;
}